
    <ul class="list-group margin-bottom-25 sidebar-menu">
        <li class="list-group-item clearfix">
            <a href="/api/product/categories/1" class="collapsed">
                <i class="fa fa-angle-right"></i>
                의류
            </a>
            <ul class="dropdown-menu" style="display:block;">
                <li class="list-group-item dropdown clearfix">
                    <a href="/api/product/categories/4"><i class="fa fa-angle-right"></i> 상의 </a>
                </li>
                <li><a href="/api/product/categories/5"><i class="fa fa-angle-right"></i> 바지</a></li>
                <li><a href="/api/product/categories/6"><i class="fa fa-angle-right"></i> 패딩</a></li>
                <li><a href="/api/product/categories/7"><i class="fa fa-angle-right"></i> 코트_점퍼</a></li>
                <li><a href="/api/product/categories/8"><i class="fa fa-angle-right"></i> 속옷</a></li>
                <li><a href="/api/product/categories/9"><i class="fa fa-angle-right"></i> 스포츠웨어</a></li>
            </ul>
        </li>
        <li class="list-group-item clearfix">
            <a href="/api/product/categories/2"><i class="fa fa-angle-right"></i> 잡화</a>
            <ul class="dropdown-menu" style="display:block;">
                <li class="list-group-item dropdown clearfix">
                    <a href="/api/product/categories/10"><i class="fa fa-angle-right"></i> 가방 </a>
                </li>
                <li><a href="/api/product/categories/11"><i class="fa fa-angle-right"></i> 지갑</a></li>
            </ul>
        </li>
        <li class="list-group-item clearfix">
            <a href="/api/product/categories/3"><i class="fa fa-angle-right"></i> 식품</a>
            <ul class="dropdown-menu" style="display:block;">
                <li class="list-group-item dropdown clearfix">
                    <a href="/api/product/categories/12"><i class="fa fa-angle-right"></i> 육류 </a>
                </li>
                <li><a href="/api/product/categories/13"><i class="fa fa-angle-right"></i> 해산물</a></li>
                <li><a href="/api/product/categories/14"><i class="fa fa-angle-right"></i> 냉동식품</a></li>
            </ul>
        </li>
    </ul>

    <!--            <div class="sidebar-products clearfix">-->
    <!--              <h2>Bestsellers</h2>-->
    <!--              <div class="item">-->
    <!--                <a href="shop-item.html"><img src="assets/pages/img/products/k1.jpg" alt="Some Shoes in Animal with Cut Out"></a>-->
    <!--                <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>-->
    <!--                <div class="price">$31.00</div>-->
    <!--              </div>-->
    <!--              <div class="item">-->
    <!--                <a href="shop-item.html"><img src="assets/pages/img/products/k4.jpg" alt="Some Shoes in Animal with Cut Out"></a>-->
    <!--                <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>-->
    <!--                <div class="price">$23.00</div>-->
    <!--              </div>-->
    <!--              <div class="item">-->
    <!--                <a href="shop-item.html"><img src="assets/pages/img/products/k3.jpg" alt="Some Shoes in Animal with Cut Out"></a>-->
    <!--                <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>-->
    <!--                <div class="price">$86.00</div>-->
    <!--              </div>-->
    <!--            </div>-->
