<span class="helper"></span>
<div class="information">
    <p>아이템의 고시정보를 입력하세요.</p>
    <table border="1">
        <tr align="center">
            <td>고시정보명</td>
            <td>내용</td>
        </tr>
        <tr align="center">
            <td>종류</td>
            <td><textarea name="kind"></textarea></td>
        </tr>
        <tr align="center">
            <td>소재</td>
            <td><textarea name="material"></textarea></td>
        </tr>
        <tr align="center">
            <td>크기</td>
            <td><textarea name="size"></textarea></td>
        </tr>
        <tr align="center">
            <td>색상</td>
            <td><textarea name="color"></textarea></td>
        </tr>
        <tr align="center">
            <td>제조자(수입자)</td>
            <td><textarea name="producer"></textarea></td>
        </tr>
        <tr align="center">
            <td>제조국</td>
            <td><textarea name="madeIn"></textarea></td>
        </tr>
        <tr align="center">
            <td>취급시 주의사항</td>
            <td><textarea name="precautions"></textarea></td>
        </tr>
        <tr align="center">
            <td>품질보증기준</td>
            <td><textarea name="qualityAssuranceStandard"></textarea></td>
        </tr>
        <tr align="center">
            <td>A/S 책임자와 전화번호</td>
            <td><textarea name="afterServiceAddress"></textarea></td>
        </tr>
    </table>
    <input type="button" value="등록하기" onclick="closeInformation()">
</div>


