<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{>include/seller/head}}
</head>
<body class="ecommerce">
{{>include/seller/header}}
<form method="post" action="/api/product/sportswear" enctype="multipart/form-data">
    <div class="main">
        <div class="container">
            <h1>상품 등록</h1>
            <h2 class="product-header1">1.상품 기본 정보</h2>
            <div class="product-header2">
                <strong>등록 상품명</strong>
                <input type="text" name="productName" required>
            </div>
            <div class="product-header2">
                <strong>카테고리 &nbsp; &nbsp; 의류 > 스포츠웨어</strong>
            </div>

            <h2 class="product-header1">2.구매옵션</h2>
            <button class="btn-newRow btn btn-default" type="button">옵션 추가</button>
            <table border="1" id="options">
                {{>include/seller/table_row_description}}
                <tr align="center">
                    <td>사이즈/색상</td>
                </tr>
                {{>include/seller/table_row_input_new}}
            </table>
            <button class="btn btn-default" type="submit" onclick="return beforeSubmit()">등록하기</button>
        </div>
    </div>
    <div class="hover-information 1">
        <span class="helper"></span>
        <div class="information">
            <p>아이템의 고시정보를 입력하세요.</p>
            <table border="1">
                <tr align="center">
                    <td>고시정보명</td>
                    <td>내용</td>
                </tr>
                <tr align="center">
                    <td>제품 소재</td>
                    <td><textarea class="default" name="material"></textarea></td>
                </tr>
                <tr align="center">
                    <td>색상</td>
                    <td><textarea class="default" name="color"></textarea></td>
                </tr>
                <tr align="center">
                    <td>치수</td>
                    <td><textarea class="default" name="size"></textarea></td>
                </tr>
                <tr align="center">
                    <td>제조자(수입자)</td>
                    <td><textarea class="default" name="producer"></textarea></td>
                </tr>
                <tr align="center">
                    <td>제조국</td>
                    <td><textarea class="default" name="madeIn"></textarea></td>
                </tr>
                <tr align="center">
                    <td>취급시 주의사항</td>
                    <td><textarea class="default" name="precautions"></textarea></td>
                </tr>
                <tr align="center">
                    <td>제조연월</td>
                    <td><textarea class="default" name="manufacturedDate"></textarea></td>
                </tr>
                <tr align="center">
                    <td>품질보증기준</td>
                    <td><textarea class="default" name="qualityAssuranceStandard"></textarea></td>
                </tr>
                <tr align="center">
                    <td>A/S 책임자와 전화번호</td>
                    <td><textarea class="default" name="afterServiceAddress"></textarea></td>
                </tr>
            </table>
            <button type="button" class="btn btn-default" onclick="closeInformation(this)">등록하기</button>
        </div>
    </div>
</form>

{{>include/seller/footer}}
<script>
    let rows = 1;
    $('.btn-newRow').click(function(){
        addRow(++rows);
        addClothes(rows);
    });
</script>

</body>

<!--- 이미지는 등록버튼을 누르면 팝업으로 이미지를 등록할 수 있도록 되어있음   --->
</html>