<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{>include/seller/head}}
</head>
<body class="ecommerce">
{{>include/seller/header}}
<form method="post" action="/api/product/seafood/{{productID}}" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT" />
    <div class="main">
        <div class="container">
            <h1>상품 등록</h1>
            <h2 class="product-header1">1.상품 기본 정보</h2>
            <div class="product-header2">
                <strong>등록 상품명</strong>
                <input type="text" name="productName" value="{{productName}}" required>
                <input type="text" id="product-id" value="{{productID}}">
            </div>
            <div class="product-header2">
                <strong>카테고리 &nbsp; &nbsp; {{#categories}} {{.}} {{/categories}} </strong>
            </div>

            <h2 class="product-header1">2.구매옵션</h2>
            <button class="btn-newRow btn btn-default" id="{{optionSize}}" type="button">옵션 추가</button>
            <button class="btn-stop btn btn-default" type="button">판매상태 변경</button>
            <table border="1" id="options">
                {{>include/seller/table_row_description}}
                <tr align="center">
                    <td>중량 x 수량</td>
                </tr>
                {{#options}}
                {{>include/seller/table_row_input_update}}
                {{/options}}
            </table>
            <button class="btn btn-default" type="submit" onclick="return beforeSubmit()">등록하기</button>
        </div>
    </div>
    {{#options}}
    <div class="hover-information {{id}}" >
        <span class="helper"></span>
        <div class="information">
            <p>아이템의 고시정보를 입력하세요.</p>
            <table border="1">
                <tr align="center">
                    <td>고시정보명</td>
                    <td>내용</td>
                </tr>
                <tr align="center">
                    <td>제품명</td>
                    <td><textarea class="default" name="foodName">{{information.foodName}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>식품의 유형</td>
                    <td><textarea class="default" name="foodType">{{information.foodType}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>생산자 및 소재지</td>
                    <td><textarea class="default" name="producer">{{information.producer}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>제조연월일, 유통기한, 또는 품질유지기한</td>
                    <td><textarea class="default" name="qualityMaintenanceDate">{{information.qualityMaintenanceDate}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>포장단위별 내용물의 용량(중량), 수량</td>
                    <td><textarea class="default" name="capacityByPackingUnit">{{information.capacityByPackingUnit}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>원재료명 및 함량</td>
                    <td><textarea class="default" name="materialContent">{{information.materialContent}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>영양성분</td>
                    <td><textarea class="default" name="nutritionalIngredients">{{information.nutritionalIngredients}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>유전자변형식품에 해당하는 경우의 표시</td>
                    <td><textarea class="default" name="geneticallyModified">{{information.geneticallyModified}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>소비자안전을 위한 주의사항</td>
                    <td><textarea class="default" name="precautions">{{information.precaution}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>수입식품 문구</td>
                    <td><textarea class="default" name="importedFood">{{information.importedFood}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>소비자상담관련 전화번호</td>
                    <td><textarea class="default" name="consumerCounselingPhoneNum">{{information.consumerCounselingPhoneNum}}</textarea></td>
                </tr>
            </table>
            <button type="button" class="btn btn-default" onclick="closeInformation(this)">등록하기</button>
        </div>
    </div>
    {{/options}}
</form>
{{>include/seller/footer}}

<script>
    let btnNewRow = $('.btn-newRow');
    let rows = Number(btnNewRow.attr('id'));
    btnNewRow.click(function(){
        addRow(++rows);
        addSeafood(rows);
    });
</script>
</body>
</html>