<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{>include/seller/head}}
<body class="ecommerce">
{{>include/seller/header}}
<form method="post" action="/api/product/wallet/{{productID}}" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT" />
    <div class="main">
        <div class="container">
            <h1>상품 등록</h1>
            <h2 class="product-header1">1.상품 기본 정보</h2>
            <div class="product-header2">
                <strong>등록 상품명</strong>
                <input type="text" name="productName" value="{{productName}}" required>
                <input type="text" id="product-id" value="{{productID}}">
            </div>
            <div class="product-header2">
                <strong>카테고리 &nbsp; &nbsp; {{#categories}} {{.}} {{/categories}} </strong>
            </div>

            <h2 class="product-header1">2.구매옵션</h2>
            <button class="btn-newRow btn btn-default" id="{{optionSize}}" type="button">옵션 추가</button>
            <button class="btn-stop btn btn-default" type="button">판매상태 변경</button>
            <table border="1" id="options">
                {{>include/seller/table_row_description}}
                <tr align="center">
                    <td>색상</td>
                </tr>
                {{#options}}
                {{>include/seller/table_row_input_update}}
                {{/options}}
            </table>
            <button class="btn btn-default" type="submit" onclick="return beforeSubmit()">등록하기</button>
        </div>
    </div>
    {{#options}}
    <div class="hover-information {{id}}" >
        <span class="helper"></span>
        <div class="information">
            <p>아이템의 고시정보를 입력하세요.</p>
            <table border="1">
                <tr align="center">
                    <td>고시정보명</td>
                    <td>내용</td>
                </tr>
                <tr align="center">
                    <td>종류</td>
                    <td><textarea name="kind">{{information.kind}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>소재</td>
                    <td><textarea name="material">{{information.material}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>크기</td>
                    <td><textarea name="size">{{information.size}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>제조자(수입자)</td>
                    <td><textarea name="producer">{{information.producer}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>제조국</td>
                    <td><textarea name="madeIn">{{information.madeIn}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>취급시 주의사항</td>
                    <td><textarea  name="precautions">{{information.precautions}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>품질보증기준</td>
                    <td><textarea name="qualityAssuranceStandard">{{information.qualityAssuranceStandard}}</textarea></td>
                </tr>
                <tr align="center">
                    <td>A/S 책임자와 전화번호</td>
                    <td><textarea name="afterServiceAddress">{{information.afterServiceAddress}}</textarea></td>
                </tr>
            </table>
            <button type="button" class="btn btn-default" onclick="closeInformation(this)">등록하기</button>
        </div>
    </div>
    {{/options}}
</form>
{{>include/seller/footer}}
<script>
    let btnNewRow = $('.btn-newRow');
    let rows = Number(btnNewRow.attr('id'));
    btnNewRow.click(function(){
        addRow(++rows);
        addWallet(rows);
    });
</script>
</body>
</html>